@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-blue;
  @apply bg-light;
  min-height: 100vh;
  max-width: 1290px;
  margin: 0 auto;
}

html,
body {
  height: 100%;
}

.body-lock {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

h1 {
  @apply font-serif;
}

.logo {
  height: auto;
}

.modal-content {
  max-height: 90vh;
  overflow-y: auto;
}

.booked {
  background-color: red !important;
  color: white !important;
  pointer-events: none;
}
