@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-blue;
  @apply bg-light;
  min-height: 100vh;
  max-width: 1290px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  @apply shadow;
}

.body-lock {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

h1 {
  @apply font-serif;
}

.logo {
  height: auto;
}

.modal-content {
  max-height: 90vh;
  overflow-y: auto;
}

.booked {
  @apply bg-red text-light;

  pointer-events: none;
}

.react-datepicker__month-container {
  width: 100%;

  .react-datepicker__header {
    @apply bg-lightBlueGrey;
  }

  .react-datepicker__day:hover {
    @apply bg-lightGreen text-darkBlue;
  }

  .react-datepicker__day--selected,
  .react-datepicker__day--in-range,
  .react-datepicker__day--in-selecting-range {
    @apply rounded bg-primary text-light;
  }

  .react-datepicker__day--booked {
    @apply text-darkGrey bg-lightRed;
  }

  .react-datepicker__day {
    @apply px-4 py-2 sm:p-2;
  }
}
